@import "style";

.dialog {
  position: fixed;
  padding: 10px;
  border: 1px solid #CCC;
  .box-shadow;
  z-index: 200;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: orange;

  width: 200px;
  height: 200px;
}
